* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
}
.container1{
    display: flex;
    justify-content: center;
}

.card img{
    width: 200px;
    height:  200px;
    margin: 10px;
}
 